//evento
extends ../../tema/template/index.jade
block titulo
	title Evento
block contenido
	.grupo.web-no-padding
		.caja.even.galeria.web-no-padding
			h1.titu_evento Evento - 1
			- for(var i = 1 ; i < 7 ; i++)
				img.evento.img(src="/tema/img/galeria/evento-1/"+i+".jpg", alt="")