- for (var i = 0 ; i < 3 ; i++)
	section#secciones
		h3 NOTICIAS
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus eum mollitia ipsum, laudantium nam pariatur rerum praesentium vitae obcaecati cum non deserunt accusantium, facilis quo soluta. Enim rerum vel magni?
			.caja.boton-n
				a(href="#") Ver mas