//- Galeria
extends ../tema/template/index.jade
block titulo
	title Xavier&Chay | Galeria
block contenido
	.grupo.web-no-padding
		.caja.galeria.web-no-padding
			-list = ["evento-1" , "evento-2" , "evento-3" , "evento-4" , "evento-5", "evento-6"]
			each evento in list
				a.caja.evento.no-padding(href="evento/")
					img(src="/tema/img/galeria/"+evento+"/1.jpg", alt="")
					p.evento_titulo=evento