//- Galeria
extends ../tema/template/index.jade
block titulo
	title Xavier&Chay | Galeria
block contenido
	.grupo.web-no-padding
		.caja.galeria.no-padding
			-list = ["evento-1" , "evento-2" , "evento-3" , "evento-4" , "evento-5", "evento-6"]
			each evento in list
				- for(var i = 1; i < 2; i++)
					a.caja.evento.web-30.no-padding(href="#")
						p.evento_titulo=evento